<!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

	<th:block th:fragment="content">

		<h1>Board List Page
			<span>
				<a th:href="@{/board/register}">
					<button type="button" class="btn btn-outline-primary">게시물 등록</button>
				</a>
			</span>
		</h1>

		<!-- 테이블 구조 변경 -->
		<table class="table table-striped"> <!-- 부트스트랩의 스타일 적용 -->
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">제목</th>
					<th scope="col">작성자</th>
					<th scope="col">등록일</th>
					<th scope="col">조회수</th>
				</tr>
			</thead>
			<tbody>
				<!--반목문으로 게시물을 하나씩 꺼내서 처리하기-->
				<tr th:each="dto : ${list}">
					<th scope="row">
						<a th:href="@{/board/read(no = ${dto.no},page=${list.number + 1})}">[[${dto.no}]]</a> <!-- 상세화면 링크 처리 -->
					</th>
					<td>[[${dto.title}]]</td>
					<td>[[${dto.writer}]]</td>
					<td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td> <!-- 날짜는 년/월/일 포맷으로 처리 -->
					<td>[[${dto.viewCount}]]</td>
				</tr>
			</tbody>
		</table>
					
		<ul class="pagination h-100 justify-content-center align-items-center">
			
			<th:block th:each="page : ${#numbers.sequence(0, list.totalPages)}">			
				<li th:class="'page-item ' + ${(list.number + 1) == page?'active':''}">
					<a class="page-link" th:href="@{/board/list(page=${page})}">
						[[${page}]]
					</a>
					
				</li>
				
			</th:block>
			
		</ul>


		<script th:inline="javascript">
			$(document).ready(function () {
				var msg = [[${msg}]]  // 컴파일러는 변수를 초기화하는 값을 분석하여 변수의 타입을 추론합니다.
				if (msg != null) {
					alert(msg + "번 글이 등록되었습니다.");
				}
			});
		</script>



	</th:block>

</th:block>